{% extends "base.html" %}

{% block site_meta %}
    {{ super() }}
    <meta property="og:type" content="website">
    <meta property="og:title" content="Echo-Live 帮助文档">
    <meta property="og:description" content="一款基于 Echo 的用于无声系虚拟主播直播的仿视觉小说对话框 OBS 插件。">
    <meta property="og:image" content="https://sheep-realms.github.io/Echo-Live-Doc/image/social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content="标题：Echo-Live 帮助文档。描述：一款基于 Echo 的用于无声系虚拟主播直播的仿视觉小说对话框 OBS 插件。">
    <meta property="og:url" content="https://sheep-realms.github.io/Echo-Live-Doc/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Echo-Live 帮助文档">
    <meta name="twitter:description" content="一款基于 Echo 的用于无声系虚拟主播直播的仿视觉小说对话框 OBS 插件。">
    <meta name="twitter:image" content="https://sheep-realms.github.io/Echo-Live-Doc/image/social.png">
    <meta name="twitter:image:alt" content="标题：Echo-Live 帮助文档。描述：一款基于 Echo 的用于无声系虚拟主播直播的仿视觉小说对话框 OBS 插件。">
{% endblock %}